li {
  border: 3px solid black;
}
html, body {
  height: 100%;
}
#rightstuff {
  width: 80%;
  overflow: hidden;
}

#sidebar {
  float: left;
  width: 20%;
  background-color: black;
}

.gridster {
  padding: 10px;
  border: 5px solid red;
}
