li {
  border: 3px solid black;
}

ul {
list-style-type: none;
}

html, body {
  height: 100%;
}
#rightstuff {
  width: 80%;
  overflow: hidden;
  /*margin-right: 5%;*/
}

#sidebar {
  float: left;
  width: 20%;
  background-color: black;
}

.gridster {
  padding: 10px;
  border: 5px solid red;
}
