{% extends "base.html" %}
{% block title %}New Entity{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/list.css')}}" />
{% endblock %}
{% block content %}
<div class="col-md-3">
</div>
<div class="col-md-6">
{% for entityinstance in entitylist recursive %}
<div class="entityinstance">
<!-- I moved the for line up one is this gonna fuck it up?-->
{% for fieldname, value in entityinstance["fields"].iteritems() recursive %}

  <dl>
              <dt>{{ fieldname }}</dt>
              {% if value.2 %}
              <dd><i>{{ value.1 }} - {{ value.2 }} </i></dd>
              {% else %}
              <dd><i>{{ value.1 }}</i></dd>
              {% endif %}
              <dd>{{ value.0 }}</dd>
  </dl>
{% endfor %}
</div>


{% endfor %}
</div>
<div class="col-md-3">
</div>
{% endblock %}
