{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/newentityform.css')}}" />
{% endblock %}
{% block title %}New Entity{% endblock %}
{% block content %}
<div class="col-md-3">
</div>
<div class="col-md-6">
  <form method=post action="{{action}}" id="newentityform">
    <div class="form-group" id="fg0">
      <label for="entityname">Entity Name:</label>
      <input type="text" name="entityname" id="entityname" class="form-control" placeholder="e.g. User">
    </div>
    <button type="button" id="newfieldbtn" class="btn btn-default">Add a New Field!</button>
    <input type="hidden" name="numfields" id="numfieldsinput" value="1">
    <input type=submit class="btn btn-default" value="Submit">

  </form>
</div>
<div class="col-md-3">
</div>
{% endblock %}

{% block javascript %}
<script src="{{url_for('static', filename='js/newentity.js')}}"></script>
{{super()}}
{% endblock %}
