{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block title %}View Grid{% endblock %}
{% block content %}
<div>
{{gridjson}}
dictl{{dictlist}}
</div>

<div id="wrapper" style="text-align: center;">
  <div style="display: inline-block; border: 3px solid black; padding: 10px; width: 50%; text-align:left;">
{% for d in displaylist %}
  <div style="display: inline-block; height: {{d['heightinpx']}}px; width: {{d['widthpercentage']}}%; border: 3px solid black; top: {{d['topamountpx']}}px; margin-left: {{d['leftamountpercent']}}%">
  </div>
{% endfor %}
  </div>
</div>



{% endblock %}
