{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block title %}View Grid{% endblock %}
{% block content %}
<div>
{{gridjson}}
{% for d in displaylist %}
{{d}}
{% endfor %}
</div>
<div id="wrapper" style="text-align: center;">
  <div style="display: inline-block; border: 3px solid black; height: 10px; width: 50%;">
    <div style="display: inline-block; height: 50px; width: 30%; border: 3px solid black; top: 50px;">
    </div>
    <div style="display: inline-block; height: 50px; width: 10%; border: 3px solid black;">
    </div>
  </div>
</div>

{% endblock %}
